body {
  font-family: 'Roboto', Arial, serif;
  font-size: 14px;
  color: #fff;
  background: #1e2327;
}

.l-header {
  background: #1a1e21;
}

.l-container {
  max-width: 1240px;
  min-width: 280px;
  margin: 0 auto;
}

.l-header .l-container {
  padding: 10px 0;
  background: #1a1e21;
}

.l-main {
  background: #1e2327;
}

.l-games {
  margin-bottom: 30px;
}

.l-about {
  background: #1a1e21;
}

.l-social {
  padding: 30px 0;
  background: #1e2327;
  font-size: 0;
  text-align: center;
}

.l-social:after {
  content: "";
  display: block;
  position: relative;
  top: -25px;
  z-index: 1;
  border-bottom: 1px solid #33333d;
}

.l-footer {

  background: #1a1e21;
}

.l-footer-items {
  padding-top: 30px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 50px;
  font-size: 0;
  background: #1a1e21;
  text-align: justify;
}
/*end index.html*/
/*wf.html*/
.l-wf-bg {
  background: #0f1113 url("../img/wf-main.png") no-repeat;
}

.l-wf-bg .l-header {
  box-shadow: inset 0px 160px 100px -111px rgba(0, 0, 0, 0.9);
}

.l-wf-bg .l-header,
.l-wf-bg .l-header .l-container {
  background: none;
}

.l-wf-bg .l-header .l-container {
  padding-left: 50px;
}

.l-container.big-logo {
  padding-top: 56px;
  padding-bottom: 130px;
  padding-left: 50px;
  background: none;
}

.l-main-nav {
  background: #1a1e21;
  border-bottom: 1px solid #1a1a1a;
    box-shadow: 0 1px 0 0 #21272b;
}

.l-news-slider {

}

.l-news-content {
  float: left;
  width: 70%;
  background: #1a1e21;
}

.l-sidebar {
  float: right;
  width: 30%;
  padding: 10px;
  background: #0F1113;
}



@media (max-width: 1260px) {

}

@media (max-width: 980px) {
  .l-news-content {
    float: none;
    width: 100%;
  }

  .l-sidebar {
    float: none;;
    width: 100%;
    background: #16191c;
    text-align: center;
  }
}

@media (max-width: 480px) {
/*.l-container {
  width: 100%;
}*/

.l-footer-items {
  padding-left: 30px;
  padding-right: 30px;
}

.l-wf-bg .l-header .l-container {
  padding-left: 10px;
}
}





















/**/
