.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-fb {
    width: 10px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-google {
    width: 21px;
    height: 20px;
    background-position: -25px -5px;
}

.sprite-marts1 {
    width: 126px;
    height: 30px;
    background-position: -56px -5px;
}

.sprite-marts2 {
    width: 126px;
    height: 30px;
    background-position: -192px -5px;
}

.sprite-minicf {
    width: 35px;
    height: 23px;
    background-position: -328px -5px;
}

.sprite-miniwf {
    width: 34px;
    height: 26px;
    background-position: -373px -5px;
}

.sprite-tw {
    width: 26px;
    height: 22px;
    background-position: -417px -5px;
}

.sprite-vk {
    width: 16px;
    height: 18px;
    background-position: -453px -5px;
}

.logo {
  float: left;
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-right: 35px;
}

.logo img {
  max-width: 100%;
}

.main-menu {
  display: inline-block;
  vertical-align: middle;
  max-width: 560px;
  padding: 27px 0;
}

.menu-container {
  font-size: 0;
}

.menu-item {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 8px;
  padding-bottom:8px;
  font-size: 15px;
  color: #bfbfbf;
}

.menu-item:last-child {
  margin-right: 0;
}

.active {
  position: relative;
}

.active:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  border-bottom: 3px solid #ff0000;
  width: 100%;
}

.active .item-link {
  color: #fff;
}

.item-link {
  color: #bfbfbf;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-container-sub {
position: absolute;
left: -7px;
top: 110%;
box-sizing: border-box;
min-width: 144px;
padding: 0;
margin: 0;
list-style: none;
background-color: #f8f7f4;
border-radius: 5px;
z-index: -1;
opacity: 0;
-webkit-transform: translate(0, -10px);
    -ms-transform: translate(0, -10px);
        transform: translate(0, -10px);
transition: all 0.3s ease-out;
}

.page-nav__item:hover .page-nav__sub-list {
opacity: 1;
-webkit-transform: translate(0, 0);
    -ms-transform: translate(0, 0);
        transform: translate(0, 0);
transition: all 0.3s ease;
z-index: 2;
}

.page-nav__sub-title {
position: relative;
padding: 9px 20px 11px 20px;
font-size: 14px;
font-weight: 700;
cursor: default;
}

.page-nav__sub-title:after {
content: "";
position: absolute;
left: 6px;
right: 9px;
height: 1px;
background-color: #d1d0ce;
bottom: 0;
}

.page-nav__sub-item {
padding: 7px 20px;
font-size: 14px;
text-decoration: none;
transition: all 0.3s ease;
}

.page-nav__sub-item:hover {
background-color: #fbded7;
}

.page-nav__sub-item:active {
background-color: #f6b5a5;
}

.page-nav__sub-item--current {
background-color: #d07058;
}

.page-nav__sub-item--current:hover {
background-color: #d07058;
}

.page-nav__sub-item:last-child {
border-radius: 0 0 5px 5px;
}

.page-nav__sub-link {
color: #333333;
font-size: 14px;
text-decoration: none;
}
/*end menu*/

.user-block {
  float: right;
  width: 480px;
  padding: 15px 0 15px 0;
}



.user-link,
.lang {
  float: left;
  width: 135px;
  margin-right: 35px;
  padding: 12px 0;
  color: #bfbfbf;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
}

.lang {
  margin-right: 0;
  padding: 4px 0;
}

.lang select {
  margin-right: 0;
  border: none;
  outline: none;
  color: #fff;
  background: #14171a;
}

/*js lang dropdown*/
.lang-en,
.lang-en .jq-selectbox__select-text {
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;*/
  background: url("../img/eng.png") no-repeat 0 7px;
}
/*.lang-es,
.lang-es .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNqkk79LHEEUxz8zOx4GdSGVcIRwEEhhZSMBBSF1ENOliUHs0kSwTiv+CWKtdeKZPyDY5ooELESROwJGEe7HnkcgrLczvpk9udNGLvfY786vfd/3fe/NKucco5gamaAK+0KxPCyNylFWZ+Cmy9+g25UdLVCPuEooa8EYrpaXMJls2YuEq48rQymY3t7D+5qXu/J+nxC/6+vyQbD9gGHuBube81mdeAo0HVmkLcLoER9QPfokYxnask6EMdF9+L1rj0b43gTGtBHYa3+gvrNBe3yR1G4xJr4vinKQqb6CO6TNoEYHmbbpqfhr5vlyOEPtIOHpz0065hVEvbQeWrceBkMkp0oUFODiwznzb49pJhP8ujlBryfw1efs8u4MKlASVHw1sRxMCNskVD6v8vxNi/OFiH9JjR8bazDl6yIese2BHE/EJ9aoE+Ervp6D31WiyMlV0MgjQZy025F1IzKrcfcukUWXSlx+r2B8imPj19hiIe+a8l2666WodKpXqEHTROITynMqDdG50KFNEur4ULPktf4fy0b+G28FGACzeZrTM/MAlgAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-de,
.lang-de .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATxJREFUeNqkkztKBEEQhv/q7mkf+EC8gRi5iYOYeQDBwEu4N1gx8gCiBxDWyBNo5h3EMyiC4S4yujPa0w+rRgMjZ9Zt6KApvvr/quqilBJmOQozHpPn+Y1z7jDGOJ2yUrDW3tJWr5eGwyuEEEBEoBZQCpaytdbo949gHD+KssTg+ARZZjjcnqKuPS7OzyCs2fh4RxiPsOkraGVB6u+2JC41eNcwwprTl2fsjR9xUD9xeI4NtDiQqdWfADOrzJpKBH0JrC8BOuPutCSInCBkDSOsCdJ8PwFWFhk23RzErGGENZ7doHLsnh0o3amJiKFhhKV0rRL2d4Di/gfuNEh2vAvcPcBgwoXQK2BZPXX8mBS/GWYNEiuujYAF1UH91wbMM8Ms+Utb6IhlxOm3KCi8ieQ2X/3PXQo06zp/CTAALyGCuAjgGMwAAAAASUVORK5CYII=) no-repeat 0 7px;
}*/
.lang-ru,
.lang-ru .jq-selectbox__select-text {
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNqkk01Ow0AMhZ8zTlMRUUSQuqg4AWyqHCKwoldhzQF6HmADtLkCWSCBxAHYIPEjugCUzEzthn2mxJJnMdI3fs8ek/cefSJCz+CyLC+dczPJ7SpHkeYVe4GLokBjrVyH2iGwMVguFjNmaiH7+yPXYaEE76RQlh/eGky/Gzy+rESSvk0dsIe6PT5MoCyf37zjNX3G/PpJjAlMHTp0as7j4uwIc2EZA/FDMcbZCLGhIAW19Rtmw0KaUbsB9tM9GFEQIsCKAmWUZSQjfCQZOFMHYQ+QHMooS/cD+PzkFHVVtT3onEXbgzjPUd3dgj+HIikewk4m8BQ2SFUQCaMsOxmdiQlmfPBXPECBfgRhlKVlhi/vsLvtTqlYirDSclNJ889dstR3ndcCDABI0W9vitkDJAAAAABJRU5ErkJggg==) no-repeat 0 7px;*/
  background: url("../img/rus.png") no-repeat 0 7px;
}

.lang .changed .jq-selectbox__select-text {
	padding-left: 25px;
}
.lang .jq-selectbox li {
	padding-left: 35px;
	background-position: 10px 6px;
}
/*.lang .jq-selectbox li:first-child {
	padding-left: 10px;
}*/
/*end head*/



/*main*/
.main-slider {
  height: 450px;
}

.main-slider .slide {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
}

.main-slider .slide1 {
  background-image: url("../img/bgslide1.png");
}

.main-slider .slide2 {
  background-image: url("../img/bgslide2.png");
}

.slide .l-container {
  position: relative;
  padding-top: 40px;
}

.slide-cont {
  position: relative;
  float: left;
  width: 480px;
  padding-left: 136px;
  text-align: center;
  box-sizing: content-box;
  z-index: 2;
}

.slide-logo {
  display: inline-block;
  vertical-align: top;
  width: 295px;
  margin: 0 auto 37px auto;
}

.slide-cont .slide-logo img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.slide-text {
  margin-bottom: 40px;
  text-align: center;
  color: #bfbfbf;
}

.slide1 .l-container > img {
  position: absolute;
  top: 60px;
  right: 30px;
}

.slide2 .l-container > img {
  position: absolute;
  top: 110px;
  right: 0;
}

.games-item {
  position: relative;
  float: left;
  width: 50%;
  height: 289px;

}

.cf {
  background: url("../img/gamecf.jpg") no-repeat right;
}

.wf {
  background: url("../img/gamewf.jpg") no-repeat right;
}

.games-top {
  height: 228px;
  padding: 35px 28px 55px 28px;
}

.game-top-cont {
  width: 250px;
  text-align: center;
}

.games-logo {
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 25px;
  color: #fff;
  background: #1a1e21;
  font-size: 15px;
  text-decoration: none;
  border-radius: 7px;
  font-weight: 300;
}

.games-bottom {
  height: 61px;
  padding: 20px 0 15px 28px;
  background: rgba(0, 0, 0, 0.5);
}

.games-mini-logo {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  margin-right: 9px;
}

.games-mini-logo img {
  max-width: 100%;
}

.games-bottom-text {
  display: inline-block;
  vertical-align: middle;
}

.about-img {
  float: right;
  width: 35%;
  height: auto;
  text-align: right;
}

.about-img img {
  max-width: 100%;
}

.about-text {
  margin-right: 37%;
  padding: 25px 0 0 28px;
  font-size: 16px;
}

.about-text-title {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.about-text-cont {
  font-weight: 300;
  margin-bottom: 25px;
}

.social-cont {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px;
  text-align: center;
  background: #1e2327;
  z-index: 2;
  font-size: 0;
  text-align: center;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  margin-right: 12px;
  line-height: 44px;
  background: #2e353b;
  text-align: center;
  border-radius: 2px;
}

.social-btn:last-child {
  margin-right: 0;
}

.footer-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
}

.footer-item:last-child,
.footer-item:nth-last-child(2) {
  margin-right: 0;
}

.footer-title {
  font-size: 16px;
  margin-bottom: 25px;
}

.footer-list-item {
  margin-bottom: 20px;
  font-size: 14px;
  color: #bfbfbf;
  list-style: none;
  text-align: left;
}

.footer-item-link {
  font-size: 14px;
  color: #bfbfbf;
  text-decoration: none;
}

.copyrights {
  float: right;
  width: 346px;
}

.des-link {
  width: 126px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -56px -5px;

}

.des-link a {
  display: block;
  width: 100%;
  height: 100%;
}

.copyrights-text {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.red {
  color: #f00;
}

.copyrights-text-bottom {
  font-size: 12px;
  color: #bfbfbf;
}
/*end index.html*/
/*wf.html*/
/*menu*/
.m-menu {
  margin-right: 255px;
  background: #1a1e21;
}

.m-menu-bar {
  display: none;
}

.m-menu-list {
  display: block;
  list-style: none;
  font-size: 0;
}

.m-menu-item {
  display: inline-block;
  vertical-align: top;
  border-right: 1px solid #1a1a1a;
  box-shadow: 1px 0 0 0 #21272b;
  font-size: 14px;
}

.m-menu-item-link {
  display: block;
  padding: 29px 30px;
  color: #fff;
  text-decoration: none;
}

.m-menu-item-active {
  position: relative;
}

.m-menu-item-active:after {
  content: "";
  position: absolute;
  right: 30px;
  bottom: 18px;
  left: 30px;
  height: 2px;
  background-color: #ff0000;
}

.m-menu-item-active span {
  display: block;
  padding: 29px 30px;
}

/*end menu*/
.download-btn {
  float: right;
  width: 251px;
  padding: 27px 0;
  text-align: center;
  color: #fff;
  font-size: 16px;
  text-transform: uppercase;
  text-decoration: none;
  text-shadow: 0 2px 2px #000;
  background: #912926 url("../img/download-btn.jpg");
  border-left: 1px solid #000;
  border-bottom: 1px solid #000;
  overflow: hidden;
}


/*news-page-sliders*/
.news-slider {
  position: relative;
  height: 378px;
}

.media-slider {
  position: relative;
  border: 5px solid #2e353b;
  height: 388px;
}

.news-slider input[type=radio],
.media-slider input[type=radio] {
  display: none;
}

.news-slider-controls,
.media-slider-controls {
  position: absolute;
  bottom: 20px;
  left: 50%;
  width: 200px;
  height: 20px;
  z-index: 100;

  -webkit-transform: translateX(-50%);

          transform: translateX(-50%);
}

.news-slider-controls:hover label,
.media-slider-controls:hover label {
  height: 20px;
}

.news-slider-controls label,
.media-slider-controls label {
  display: inline-block;
  width: 35px;
  height: 3px;
  margin: 0 12px;

  vertical-align: middle;

  background: rgba(255, 255, 255, 0.2);
  cursor: pointer;
  transition: all ease 0.5s;
}

#news-1:checked ~ .news-slider-controls label[for="news-1"],
#news-2:checked ~ .news-slider-controls label[for="news-2"],
#news-3:checked ~ .news-slider-controls label[for="news-3"],
#media-1:checked ~ .media-slider-controls label[for="media-1"],
#media-2:checked ~ .media-slider-controls label[for="media-2"],
#media-3:checked ~ .media-slider-controls label[for="media-3"] {
  background: #ff0000;
}

.news-slider-controls label:hover,
.media-slider-controls label:hover {
  background: #f00;
}

.news-slide,
.media-slide {
  position: absolute;
  top: 0;
  left: 0;

  display: none;
  box-sizing: border-box;
  width: 100%;
  height: 378px;
  padding: 22px 25px 22px 0;
}

.news-slide:nth-child(1) {
  background: url("../img/news-slide1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.news-slide:nth-child(2) {
  background: url("../img/news-slide2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.news-slide:nth-child(3) {
  background: url("../img/news-slide3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.media-slide:nth-child(1) {
  background: url("../img/media-slide1.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.media-slide:nth-child(2) {
  background: url("../img/media-slide2.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}

.media-slide:nth-child(3) {
  background: url("../img/media-slide3.jpg") no-repeat;
  background-size: cover;
  background-position: center;
}


#news-1:checked ~ .news-slides .news-slide:nth-child(1),
#news-2:checked ~ .news-slides .news-slide:nth-child(2),
#news-3:checked ~ .news-slides .news-slide:nth-child(3),
#media-1:checked ~ .media-slides .media-slide:nth-child(1),
#media-2:checked ~ .media-slides .media-slide:nth-child(2),
#media-3:checked ~ .media-slides .media-slide:nth-child(3) {
  display: block;
}

.news-slide-snip {
  position: absolute;
  left: 0;
  bottom: 75px;
  padding: 21px 63px 23px 28px;
  background: url("../img/square.png");
}

.news-slide-snip:after {
  content: "";
  display: block;
  position: absolute;
  bottom: 0;
  right: -93px;
  width: 93px;
  height: 93px;
  background: url("../img/angle.png");
}

.news-slide-title,
.media-slide-title {
  margin: 0;
  margin-bottom: 0;
  padding: 0;
  font-family: "Roboto", sans-serif;
  font-size: 24px;
  color: #ffffff;
  text-transform: uppercase;
}

.news-slide-text,
.media-slide-text {
  margin: 0;

  font-size: 24px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  color: #858688;
  text-transform: uppercase;
}
/*end news-slider*/

.sorting-row {
  padding: 26px;
  padding-bottom: 20px;
  height: 24px;
  box-sizing: content-box;
}

.sorting-title {
  float: left;
  width: 15%;
  font-size: 18px;
  line-height: 1.3em;
}

.sorting-items {
  display: block;
  float: right;
  width: 80%;
  font-size: 0;
  text-align: right;
  list-style: none;
}

.sorting-item {
  display: inline-block;
  vertical-align: top;
  font-size: 14px;
  line-height: 1.3em;
  margin-right: 36px;
  margin-bottom: 5px;
}

.sorting-item:last-child {
  margin: 0;
}

.sorting-link {
  color: #444f55;
  text-decoration: none;
}

.gradient-border {
  height: 1px;
  background-color: #ff0000;
  background-image: linear-gradient(to right, rgba(255, 0, 0, 0.9) 20%, rgba(26, 30, 33, 1) 100%);
}

.news-block {
  padding: 30px 18px 26px;
}

.news-item {
  margin-bottom: 27px;
  padding-bottom: 24px;
  border-bottom: 1px solid #242a2e;
}

.news-item:last-child {
  margin-bottom: 0;
}

.news-pic {
  float: left;
  width: 138px;
  background-color: #334470;
  border: 5px solid #2e353b;
}

.news-pic img {
  max-width: 100%;
  height: auto;
}

.news-text {
  margin-left: 138px;
}

.news-head {
  padding: 0 20px;
  border-bottom: 1px solid #242a2e;
}

.news-date {
  float:right;
  width: 80px;
  color: #ff0000;
  font-size: 14px;
}

.date-num {
  font-size: 18px;
}

.news-title {
  margin-right: 90px;
  margin-bottom: 24px;
  font-size: 18px;
}

.news-body {
  padding: 20px 20px 0 20px;
}

.news-preview {
  margin-bottom: 24px;
  font-size: 16px;
  color: #465259;
}

.read-more {
  text-decoration: none;
  font-size: 14px;
  color: #596773;
}

.pagination {
  display: block;
  margin: 0;
  padding: 18px 0 8px 0;
  font-size: 0;

}

.page-number {
  display: inline-block;
  vertical-align: top;
  margin-right: 5px;
  margin-bottom: 10px;
}

.page-number:last-child {
  margin-right: 0;
}

.page-link,
.page-link-dots {
  display: block;
  width: 22px;
  height: 22px;
  text-transform: uppercase;
  text-decoration: none;
  font-size: 14px;
  line-height: 24px;
  vertical-align: middle;
  overflow: hidden;
  font-family: "Roboto", sans-serif;
  text-align: center;
  color: #323b40;
}

.page-link-dots {
  color: #ff0000;
}

.page-number .current-page {
  background: #1e2326;
  color: #c3c4c5;
  pointer-events: none;
}

.promo {
  padding: 20px 25px;
  background: #14161a;
  font-size: 0;
  text-align: center;
}

.promo-item {
  display: inline-block;
  vertical-align: top;
  width: 236px;
  margin-right: 48px;
  margin-bottom: 20px;
  text-align: center;
}

.promo-item:last-child {
  margin-right: 0;
}

.promo-pic {
  width: 152px;
  height: 152px;
  margin: 0 auto 15px auto;
  border-radius: 50%;
  overflow: hidden;
}

.promo-pic img {
  max-width: 100%;
}

.promo-title {
  text-align: center;
}

.promo-title h3 {
  position: relative;
  display: inline-block;
  padding: 0 15px;
  font-size: 18px;
  text-transform: uppercase;
  color: #fff;
  background: #14161a;
  z-index: 2;
}

.promo-title:after {
  content: "";
  display: block;
  position: relative;
  top: -10px;
  border-bottom: 1px solid #f00;
  z-index: 1;
}

.promo-text {
  font-size: 14px;
  color: #465259;
  text-align: center;
}

.slider-bottom {
  padding: 30px 27px 20px 27px;
}

.sidebar-section {
  position: relative;
  border: 1px solid #0f1113;
  height: 185px;
  margin-bottom: 13px;
  padding-top: 155px;

}

.sidebar-section:first-child {
  background: url("../img/up.jpg") no-repeat;
  background-size: cover;
}

.sidebar-section:nth-child(2) {
  background: url("../img/supp.jpg") no-repeat;
  background-size: cover;
}

.sidebar-section:nth-child(3) {
  background: url("../img/bonus.jpg") no-repeat;
  background-size: cover;
}

.section-link {
  position: absolute;
  display: block;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 4;
}

.section-title {
  background: #16191c;
  text-align: center;
}

.section-title h3 {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  font-size: 18px;
  color: #fff;
  background: #16191c;
  z-index: 3;
}

.section-title:after {
  content: "";
  position: relative;
  display: block;
  top: -8px;
  border-bottom: 1px solid #ff0000;
  z-index: 2;
}

.game-data {
  padding: 5px;
}

.game-data-title {
  color: #fff;
  text-align: center;
  border-bottom: 1px solid #2e353b;
  font-size: #475259;
  padding: 15px;
  font-size: 18px;
  font-family: 'Roboto', Arial, serif;
}

.tabs {
  padding: 20px 0;
  text-align: center;
  font-size: 0;
}

.tab-link {
  display: inline-block;
  vertical-align: top;
  margin-bottom: 10px;
  color: #475259;
  text-decoration: none;
  margin-right: 30px;
  font-size: 16px;
  line-height: 1.3em;
  white-space: nowrap;
}

.tab-link:last-child {
  margin: 0;
}

.data-list {
  padding: 5px;
  background: #181b1f;
}

.players-list {
  list-style-type: decimal;
  padding-left: 20px;
  color: #475259;
}

.players-list-item {
  margin-bottom: 12px;
}

.forum-data-title:before {
  content: "";
  display: inline-block;
  vertical-align: top;
  margin-right: 7px;
  width: 34px;
  height: 26px;
  background: url("../img/miniwf.png");
}

.players-list {
  display: block;
  padding-left: 20px;
  color: #475259;
}

.forum-list-item {
  margin-bottom: 12px;
  color: #465259;
  font-size: 16px;
  line-height: 1.3em;
}

.forum-list-item:before {
  content: "-";
  margin-right: 5px;
}

.forum-list-item-link {
  text-decoration: none;
}

.forum-date {
  padding-left: 13px;
  font-size: 14px;
  color: #323b40;
}

/*end wf.html*/

.active-sort-item {
  color: #f00;
  pointer-events: none;
}

.l-wf-bg .main-menu {
  padding-left: 0;
}

.big-logo:after {
  content: "";
  display: table;
  clear: both;
}

.big-logo-cont {
  float: left;
  width: 155px;
}

/*login*/
.signup {

}

.signup-cont {
  background: #1a1e21;
}

.signup-header {
  background: #1e2327;
  padding: 60px 10px 20px 10px;
}

.breadcrumbs {
  display: block;
  list-style: none;
  float: left;
  width: 250px;
  font-size: 0;
}

.breadcrumbs-title {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  line-height: 18px;
  margin-right: 5px;
  color: #657680;
}

.breadcrumbs-title:not(.breadcrumbs-link) {
  color: #f00;
}


.breadcrumbs-link {
  text-decoration: none;
  color: #657680;
  font-size: 16px;
  line-height: 18px;
}

.breadcrumbs-link:after {
  content: "/";
  font-size: 16px;
  line-height: 18px;
  margin-left: 5px;
}

.signup-header-title {
  float: right;
  width: 400px;
  text-align: right;
}

.signup-form {
  float: left;
  width: 50%;
  padding-top: 20px;
}

.alert {
  margin-left: 30px;
  margin-bottom: 20px;
  border-radius: 8px;
  color: #fff;
  padding: 8px;
}

.alert:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.success {
  background: #0c5;
}

.success:before {
  background-image: url("../img/success.png");
}

.fail {
  background: #c4554f;
}

.fail:before {
  background-image: url("../img/fail.png");
}

.signup-form-part {
  padding: 20px 0 10px 20px;
  border-bottom: 1px solid #1f2428;
  font-size: 0;
}

.signup-label {
  display: inline-block;
  vertical-align: baseline;
  width: 140px;
  margin-right: 10px;
  margin-bottom: 15px;
  text-align: right;
}

.signup-form-part label {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 14px;
}

.signup-form-part .field-subtitle {
  color: #57595a;
  text-align: right;
  font-size: 11px;
}

.signup-form-part input {
  display: inline-block;
  vertical-align: baseline;
  margin-bottom: 15px;
  padding: 10px;
  padding-left: 15px;
  width: 70%;
  max-width: 436px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #1e2326;
  color: #bfbfbf;
}

.signup-form-part input:focus {
  background: #14171a;
}

.signup-form-part select {
  border: none;
}

.signup-form-part .jq-selectbox {
  width: 70%;
  margin-bottom: 15px;
  padding: 3px;
  max-width: 436px;
  border: none;
  outline: none;
  font-size: 14px;
  background: #1e2326;
  color: #bfbfbf;
  border-radius: 0;
}

.signup-form-part .jq-selectbox__select-text {
  padding-left: 15px;
}

.signup-form-part .jq-selectbox:hover {
  background: #14171a;
}

.signup-form-part .jq-selectbox__select {
  background: transparent;
}

.footer-signup-form {
  padding: 20px 0;
  text-align: right;

}

.footer-signup-form + .footer-signup-form {
  padding: 0;
  padding-bottom: 30px;
}

.checkbox-signup-form {
  display: none;
}

.footer-signup-form label {
  font-size: 12px;
  line-height: 2.3em;
  color: #fff;
  cursor: pointer;
}

.checkbox-signup-form + label:before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 20px;
  height: 20px;
  margin-right: 10px;
  background-color: #0f1113;
  border-radius: 6px;
}

.checkbox-signup-form:checked + label:before {
  background-image: url("../img/check.png");
  background-position: center;
  background-repeat: no-repeat;
}

.form-link {
  font-size: 12px;
  color: #48535d;
  white-space: nowrap;
}

.btn-submit {
  display: inline-block;
  vertical-align: top;
  text-align: center;
  padding: 15px 20px;
  color: #fff;
  border: none;
  outline: none;
  border-radius: 5px;
  background: #14171a;
  font-size: 15px;
  cursor: pointer;
}

.btn-submit:hover {
  background: #23282d;
}

.btn-submit:active {
  background: #0f1113;
}

.signup-logo {
  float: right;
  width: 50%;
  padding-top: 100px;
  text-align: center;
}

.signup-logo img {
  max-width: 100%;
}



/*end login*/

@media (max-width: 1260px) {
.main-menu {
  padding-left: 80px;
}

.user-block {
  float: left;
}

.main-menu {
  max-width: 100%;
  width: 100%;
}


.slide1 .l-container > img {
  width: 470px;
  right: 5px;
}

.slide2 .l-container > img {
  top: 120px;
  width: 600px;
}

.slide-cont {
  width: 440px;
}

.footer-item {
  max-width: 160px;
  margin-right: 5%;
}

.copyrights {
  max-width: 346px;
}
}
@media (max-width: 1070px) {
  /*signup.html*/
.signup-form {
  width: 70%;
}

.signup-logo {
  width: 30%;
}
/*signup.html*/
}

@media (max-width: 980px) {
/*.user-block {
  width: 365px;
}*/

.user-link {
  width: auto;
  margin-right: 10px;
  padding: 12px 5px;
}

/*adaptive menu*/
    .m-menu {
      position: relative;
      /*position: fixed;
      display: block;
      width: 100%;
      top: 0;
      left: 0;
      background-color: #f8f8f8;*/
      /*border: 1px solid #e7e7e7;*/
      /*z-index: 10000;*/
    }

    .m-menu-bar {
      display: block;
      height: 71px;
      /*background-color: #f8f8f8;*/
    }

    .m-menu-bar:after {
      content: "";
      display: table;
      clear: both;
    }

    .m-menu-btn {
        position: relative;
        float: left;
        width: 22px;
        height: 14px;
        padding: 9px 10px;
        margin: 20px 0 10px 15px;
        border: 1px solid #ddd;
        border-radius: 4px;
        box-sizing: content-box;
        outline: none;
        background: transparent;
    }

    .m-menu-btn:focus {
      background: #ddd;
    }

    .icon-bar {
      display: block;
      /*width: 22px;*/
      height: 2px;
      border-radius: 1px;
      background-color: #888;
    }

  .m-menu-btn .icon-bar + .icon-bar {
    margin-top: 4px;
  }

    .m-menu-list {
      position: absolute;
      display: block;
      top: 70px;
      left: 0;
      width: 220px;
      /*display: none;*/
      visibility: hidden;
      margin: 0;
      padding: 0;
      /*padding-top: 20px;*/
      background: #1a1e21;
      border-top: 1px solid #888;
      height: 0;
      opacity: 0;
      transition: all ease 0.5s;
      z-index: 110;
    }

    .m-menu-show {
      /*display: block;*/
      visibility: visible;
      height: auto;
      opacity: 1;
      padding-top: 5px;
    }

    .m-menu-item {
      position: relative;
      display: block;
      margin: 0;
      padding-left: 15px;
      font-size: 16px;
    }

    .m-menu-item-link {
      display: block;
      padding-top: 10px;
      padding-bottom: 10px;
      line-height: 20px;
      text-decoration: none;
      font-size: 16px;
    }

    .m-menu-item-active span {
      padding-top: 10px;
      padding-bottom: 10px;
    }

  .m-menu-item-active:after {
    display: none;
  }



/*end adaptive menu*/

.slide-cont {
  width: 350px;
}

/*.slide1 .l-container > img {
  width: 400px;
  top: 120px;
  right: 10px;
}*/

/*.slide1 .l-container > img {
  width: 550px;
  top: 150px;
}*/

.footer-item {
  margin-right: 25px;
}

.footer-item:nth-last-child(2) {
  margin-right: 25px;
}

.copyrights {
  /*float: none;*/
  max-width: 170px;
  /*width: 30%;*/
}

/*wf.html max 980*/
.data-list {
    max-width: 400px;
    margin: auto;
    text-align: left;
}

.sidebar-section {
  display: inline-block;
  vertical-align: top;
  width: 30%;
}

/*end wf.html max 980*/
}

@media (max-width: 768px) {
.logo {
  margin-right: 15px;
}

.user-block {
  width: 300px;
}

.slide-cont {
  width: 300px;
  padding-left: 30px;
}

.slide1 .l-container > img {
  width: 350px;
  top: 160px;
}

.slide2 .l-container > img {
  width: 470px;
  top: 200px;
}

.games-item {
  float: none;
  width: 100%;
  /*max-width: 620px;*/

  margin: 0 auto 15px auto;
}

.cf,
.wf {
  background-size: cover;
}

.footer-item {
  width: 25%;
  min-width: 15%;
  margin-bottom: 10px;
}

.footer-item:nth-last-child(2) {
    margin-right: 50px;
}

.copyrights {
  float: none;
  width: 60%;
  max-width: 100%;
}

/*wf.html*/
.news-slide-snip:after,
.media-slide-snip:after {
  display: none;
}

.promo-item,
.promo-item:last-child {
  display: block;
  margin: 30px auto;
}

.sidebar-section {
  display: block;
  max-width: 455px;
  width: 100%;
  min-width: 265px;
  margin: 20px auto;
}

.sorting-row {
  height: auto;
}

.sorting-title {
  float: none;
  width: 100%;
  font-size: 18px;
  line-height: 1.3em;
  margin-bottom: 15px;
}

.sorting-items {
    float: none;
    width: 100%;
    font-size: 0;
    text-align: center;
    list-style: none;
}

.sorting-item {
  margin-bottom: 15px;
}

.news-pic {
  float: none;
  margin: 15px auto;
}

.news-text {
  margin: 0;
}

.section-title,
.section-title h3 {
  background: #0F1113;
}

/*end wf.html*/

/*signup.html*/
.breadcrumbs {
  float: none;
  margin-bottom: 20px;
}

.signup-header-title {
  float: none;
  width: auto;
  text-align: left;
}

.signup-label {
  display: block;
  width: 100%;
  margin-bottom: 5px;
  text-align: left;
}

.field-subtitle {
  display: inline;
  margin-left: 5px;
  text-align: left;
}

.footer-signup-form {
  padding: 20px;
  text-align: left;
}

.footer-signup-form + .footer-signup-form {
  padding-left: 20px;
  padding-right: 20px;
  text-align: center;
}
/*end signup*/
}

@media (max-width: 480px) {
.user-block {
  width: 230px;

}

.main-menu {
  padding-left: 10px;
}

.slide-cont {
  width: 300px;
  padding-left: 10px;
}

.slide1 .l-container > img {
  width: 310px;
  top: 222px;
}

.slide2 .l-container > img {
  width: 310px;
  top: 290px;
}

.about-img {
  display: none;
}

.about-text {
  margin-right: 0;
}

.social-cont {
  padding: 0 20px;
}

.footer-item {
  width: 50%;
  margin-right: 0;
}

.footer-item:nth-last-child(2) {
  margin-right: 0;
}

.copyrights {
  width: 100%;
}

.slider-bottom {
  padding-left: 10px;
  padding-right: 10px;
}
/*wf.html*/
  .download-btn {
    width: 180px;
  }
/*end wf.html*/

/*signup.html*/
.signup-form {
  width: 100%;
}

.signup-logo {
  display: none;
}
.alert {
  margin-right: 30px;
}

.signup-form-part {
  padding-right: 20px;
}

.signup-form-part .jq-selectbox,
.signup-form-part input {
  width: 100%;
}

/*end signup*/
}
