.sprite {
    background-image: url("../img/sprite.png");
    background-repeat: no-repeat;
    display: inline-block;
    vertical-align: middle;
}

.sprite-fb {
    width: 10px;
    height: 22px;
    background-position: -5px -5px;
}

.sprite-google {
    width: 21px;
    height: 20px;
    background-position: -25px -5px;
}

.sprite-marts1 {
    width: 126px;
    height: 30px;
    background-position: -56px -5px;
}

.sprite-marts2 {
    width: 126px;
    height: 30px;
    background-position: -192px -5px;
}

.sprite-minicf {
    width: 35px;
    height: 23px;
    background-position: -328px -5px;
}

.sprite-miniwf {
    width: 34px;
    height: 26px;
    background-position: -373px -5px;
}

.sprite-tw {
    width: 26px;
    height: 22px;
    background-position: -417px -5px;
}

.sprite-vk {
    width: 16px;
    height: 18px;
    background-position: -453px -5px;
}

.logo {
  float: left;
  width: 50px;
  height: 70px;
  margin-left: 10px;
  margin-right: 35px;
}

.logo img {
  max-width: 100%;
}

.main-menu {
  display: inline-block;
  vertical-align: middle;
  max-width: 643px;
  padding: 27px 0;
}

.menu-container {
  font-size: 0;
}

.menu-item {
  display: inline-block;
  vertical-align: middle;
  margin-right: 30px;
  margin-bottom: 8px;
  padding-bottom:8px;
  font-size: 15px;
  color: #bfbfbf;
}

.menu-item:last-child {
  margin-right: 0;
}

.active {
  position: relative;
}

.active:before {
  content: "";
  position: absolute;
  display: block;
  bottom: -3px;
  left: 0;
  border-bottom: 3px solid #ff0000;
  width: 100%;
}

.active .item-link {
  color: #fff;
}

.item-link {
  color: #bfbfbf;
  text-decoration: none;
  text-transform: uppercase;
}

.user-block {
  float: right;
  width: 475px;
  padding: 15px 0;
}



.user-link,
.lang {
  float: left;
  width: 135px;
  margin-right: 35px;
  padding: 12px 0;
  color: #bfbfbf;
  text-decoration: none;
  border-radius: 7px;
  text-align: center;
  font-size: 15px;
}

.lang {
  margin-right: 0;
  padding: 4px 0;
}

.lang select {
  margin-right: 0;
  border: none;
  outline: none;
  color: #fff;
  background: #14171a;
}

/*js lang dropdown*/
.lang-en,
.lang-en .jq-selectbox__select-text {
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAbpJREFUeNqkk81LW0EUxc8zz0YRBaEqCBrswm7dWqhB7KYLFdEqBU0pdNXi1m7Ff6Ab240bv7ALKWjiWshTWpBGsBGNgrFPa+pHkaio+PFyvBMnmKa4SHPh8HvzZubOmZk7BknkEnnIMUzj1dAUrpxWOAlpZrjJcwEPinA46kNcmk5al3G7+ldTTZ7sbUFHfSXGglvo8VZjzBI2VGPE2kZ3QxVczQ5KXW49TUFY4Mbm87YnQNdHqkDjBL9H40TTZ4Y0F6JHxLMvvJT+P6J9rQPRoSgQiYjlrkH2T28xZJ8QzX7++KUY0JyhtXNNukEWahWI8kUfBvgzuWdJkEiIg/ZZhndOiRezXI6dJbkUOyc6v/Eqw8F+ysHKqiR4+Ymd47sM/b4kekJc2hP6UlxkUI0ukxXLRRWaD0V9r7UD3whtdQZvY7Tiwnd3DCZ5wPP7HKxGaBxJlpI3TwFr7u5+0kPdbOqGmfbP64U9HIQ5H1mD93EtLv6tgr9yZPaZovD7dRhqH54WD7BtZ1eCVR7YfhtmeCOK0kc1uM6yhKVGsRzdhLEBHMt3cbZPSh/ViWKdTvg/4Ri5PucbAQYA8gA3rogcqYQAAAAASUVORK5CYII=) no-repeat 0 7px;*/
  background: url("../img/eng.png") no-repeat 0 7px;
}
/*.lang-es,
.lang-es .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAaFJREFUeNqkk79LHEEUxz8zOx4GdSGVcIRwEEhhZSMBBSF1ENOliUHs0kSwTiv+CWKtdeKZPyDY5ooELESROwJGEe7HnkcgrLczvpk9udNGLvfY786vfd/3fe/NKucco5gamaAK+0KxPCyNylFWZ+Cmy9+g25UdLVCPuEooa8EYrpaXMJls2YuEq48rQymY3t7D+5qXu/J+nxC/6+vyQbD9gGHuBube81mdeAo0HVmkLcLoER9QPfokYxnask6EMdF9+L1rj0b43gTGtBHYa3+gvrNBe3yR1G4xJr4vinKQqb6CO6TNoEYHmbbpqfhr5vlyOEPtIOHpz0065hVEvbQeWrceBkMkp0oUFODiwznzb49pJhP8ujlBryfw1efs8u4MKlASVHw1sRxMCNskVD6v8vxNi/OFiH9JjR8bazDl6yIese2BHE/EJ9aoE+Ervp6D31WiyMlV0MgjQZy025F1IzKrcfcukUWXSlx+r2B8imPj19hiIe+a8l2666WodKpXqEHTROITynMqDdG50KFNEur4ULPktf4fy0b+G28FGACzeZrTM/MAlgAAAABJRU5ErkJggg==) no-repeat 0 7px;
}
.lang-de,
.lang-de .jq-selectbox__select-text {
	background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAATxJREFUeNqkkztKBEEQhv/q7mkf+EC8gRi5iYOYeQDBwEu4N1gx8gCiBxDWyBNo5h3EMyiC4S4yujPa0w+rRgMjZ9Zt6KApvvr/quqilBJmOQozHpPn+Y1z7jDGOJ2yUrDW3tJWr5eGwyuEEEBEoBZQCpaytdbo949gHD+KssTg+ARZZjjcnqKuPS7OzyCs2fh4RxiPsOkraGVB6u+2JC41eNcwwprTl2fsjR9xUD9xeI4NtDiQqdWfADOrzJpKBH0JrC8BOuPutCSInCBkDSOsCdJ8PwFWFhk23RzErGGENZ7doHLsnh0o3amJiKFhhKV0rRL2d4Di/gfuNEh2vAvcPcBgwoXQK2BZPXX8mBS/GWYNEiuujYAF1UH91wbMM8Ms+Utb6IhlxOm3KCi8ieQ2X/3PXQo06zp/CTAALyGCuAjgGMwAAAAASUVORK5CYII=) no-repeat 0 7px;
}*/
.lang-ru,
.lang-ru .jq-selectbox__select-text {
	/*background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABAAAAAQCAYAAAAf8/9hAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAASxJREFUeNqkk01Ow0AMhZ8zTlMRUUSQuqg4AWyqHCKwoldhzQF6HmADtLkCWSCBxAHYIPEjugCUzEzthn2mxJJnMdI3fs8ek/cefSJCz+CyLC+dczPJ7SpHkeYVe4GLokBjrVyH2iGwMVguFjNmaiH7+yPXYaEE76RQlh/eGky/Gzy+rESSvk0dsIe6PT5MoCyf37zjNX3G/PpJjAlMHTp0as7j4uwIc2EZA/FDMcbZCLGhIAW19Rtmw0KaUbsB9tM9GFEQIsCKAmWUZSQjfCQZOFMHYQ+QHMooS/cD+PzkFHVVtT3onEXbgzjPUd3dgj+HIikewk4m8BQ2SFUQCaMsOxmdiQlmfPBXPECBfgRhlKVlhi/vsLvtTqlYirDSclNJ889dstR3ndcCDABI0W9vitkDJAAAAABJRU5ErkJggg==) no-repeat 0 7px;*/
  background: url("../img/rus.png") no-repeat 0 7px;
}

.lang .changed .jq-selectbox__select-text {
	padding-left: 25px;
}
.lang .jq-selectbox li {
	padding-left: 35px;
	background-position: 10px 6px;
}
/*.lang .jq-selectbox li:first-child {
	padding-left: 10px;
}*/
/*end head*/



/*main*/
.main-slider {
  height: 450px;
}

.main-slider .slide {
  height: 450px;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  outline: none;
}

.main-slider .slide1 {
  background-image: url("../img/bgslide1.png");
}

.main-slider .slide2 {
  background-image: url("../img/bgslide2.png");
}

.slide .l-container {
  position: relative;
  padding-top: 40px;
}

.slide-cont {
  position: relative;
  float: left;
  width: 480px;
  padding-left: 136px;
  text-align: center;
  box-sizing: content-box;
  z-index: 2;
}

.slide-logo {
  display: inline-block;
  vertical-align: top;
  width: 295px;
  margin: 0 auto 37px auto;
}

.slide-cont .slide-logo img {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
}

.slide-text {
  margin-bottom: 40px;
  text-align: center;
  color: #bfbfbf;
}

.slide1 .l-container > img {
  position: absolute;
  top: 60px;
  right: 30px;
}

.slide2 .l-container > img {
  position: absolute;
  top: 110px;
  right: 0;
}

.games-item {
  position: relative;
  float: left;
  width: 50%;
  height: 289px;

}

.cf {
  background: url("../img/gamecf.jpg") no-repeat right;
}

.wf {
  background: url("../img/gamewf.jpg") no-repeat right;
}

.games-top {
  height: 228px;
  padding: 35px 28px 55px 28px;
}

.game-top-cont {
  width: 250px;
  text-align: center;
}

.games-logo {
  margin-bottom: 25px;
}

.btn {
  display: inline-block;
  vertical-align: top;
  padding: 14px 25px;
  color: #fff;
  background: #1a1e21;
  font-size: 15px;
  text-decoration: none;
  border-radius: 7px;
  font-weight: 300;
}

.games-bottom {
  height: 61px;
  padding: 20px 0 15px 28px;
  background: rgba(0, 0, 0, 0.5);
}

.games-mini-logo {
  display: inline-block;
  vertical-align: middle;
  width: 35px;
  margin-right: 9px;
}

.games-mini-logo img {
  max-width: 100%;
}

.games-bottom-text {
  display: inline-block;
  vertical-align: middle;
}

.about-img {
  float: right;
  width: 35%;
  height: auto;
  text-align: right;
}

.about-img img {
  max-width: 100%;
}

.about-text {
  margin-right: 37%;
  padding: 25px 0 0 28px;
  font-size: 16px;
}

.about-text-title {
  margin-bottom: 30px;
  font-size: 18px;
  text-transform: uppercase;
}

.about-text-cont {
  font-weight: 300;
  margin-bottom: 25px;
}

.social-cont {
  position: relative;
  display: inline-block;
  vertical-align: top;
  padding: 0 50px;
  text-align: center;
  background: #1e2327;
  z-index: 2;
  font-size: 0;
  text-align: center;
}

.social-btn {
  display: inline-block;
  vertical-align: top;
  width: 40px;
  margin-right: 12px;
  line-height: 44px;
  background: #2e353b;
  text-align: center;
  border-radius: 2px;
}

.social-btn:last-child {
  margin-right: 0;
}

.footer-item {
  display: inline-block;
  vertical-align: top;
  margin-right: 70px;
}

.footer-item:last-child,
.footer-item:nth-last-child(2) {
  margin-right: 0;
}

.footer-title {
  font-size: 16px;
  margin-bottom: 25px;
}

.footer-list-item {
  margin-bottom: 20px;
  font-size: 14px;
  color: #bfbfbf;
  list-style: none;
  text-align: left;
}

.footer-item-link {
  font-size: 14px;
  color: #bfbfbf;
  text-decoration: none;
}

.copyrights {
  float: right;
  width: 346px;
}

.des-link {
  width: 126px;
  height: 30px;
  margin-bottom: 30px;
  background-image: url("../img/sprite.png");
  background-repeat: no-repeat;
  background-position: -56px -5px;

}

.des-link a {
  display: block;
  width: 100%;
  height: 100%;
}

.copyrights-text {
  font-size: 14px;
  line-height: 18px;
  color: #fff;
}

.red {
  color: #f00;
}

.copyrights-text-bottom {
  font-size: 12px;
  color: #bfbfbf;
}
/*end index.html*/
/*wf.html*/
.l-container.big-logo {
  padding-top: 56px;
  padding-bottom: 130px;
  padding-left: 50px;
  background: none;
}
/*end wf.html*/
@media (max-width: 1260px) {
.slide1 .l-container > img {
  width: 470px;
  right: 5px;
}

.slide2 .l-container > img {
  top: 120px;
  width: 600px;
}

.slide-cont {
  width: 440px;
}

.footer-item {
  max-width: 160px;
  margin-right: 5%;
}

.copyrights {
  max-width: 346px;
}
}

@media (max-width: 980px) {
.user-block {
  width: 365px;
}

.user-link {
  width: auto;
  margin-right: 10px;
  padding: 12px 5px;
}

.slide-cont {
  width: 350px;
}

/*.slide1 .l-container > img {
  width: 400px;
  top: 120px;
  right: 10px;
}*/

/*.slide1 .l-container > img {
  width: 550px;
  top: 150px;
}*/

.footer-item {
  margin-right: 25px;
}

.footer-item:nth-last-child(2) {
  margin-right: 25px;
}

.copyrights {
  /*float: none;*/
  max-width: 170px;
  /*width: 30%;*/
}
}

@media (max-width: 768px) {
.logo {
  margin-right: 15px;
}

.user-block {
  float: left;
  width: 380px;
}

.main-menu {
  padding: 0;
  padding-left: 80px;
  max-width: 390px;
}

.slide-cont {
  width: 300px;
  padding-left: 30px;
}

.slide1 .l-container > img {
  width: 350px;
  top: 160px;
}

.slide2 .l-container > img {
  width: 470px;
  top: 200px;
}

.games-item {
  float: none;
  width: 100%;
  /*max-width: 620px;*/

  margin: 0 auto 15px auto;
}

.cf,
.wf {
  background-size: cover;
}

.footer-item {
  width: 25%;
  min-width: 15%;
  margin-bottom: 10px;
}

.footer-item:nth-last-child(2) {
    margin-right: 50px;
}

.copyrights {
  float: none;
  width: 60%;
  max-width: 100%;
}

}

@media (max-width: 480px) {
.user-block {
  width: 230px;

}

.main-menu {
  padding-left: 10px;
}

.slide-cont {
  width: 300px;
  padding-left: 10px;
}

.slide1 .l-container > img {
  width: 310px;
  top: 222px;
}

.slide2 .l-container > img {
  width: 310px;
  top: 290px;
}

.about-img {
  display: none;
}

.about-text {
  margin-right: 0;
}

.social-cont {
  padding: 0 20px;
}

.footer-item {
  width: 50%;
  margin-right: 0;
}

.footer-item:nth-last-child(2) {
  margin-right: 0;
}

.copyrights {
  width: 100%;
}
}
