.clearfix:after {
  content: "";
  display: table;
  clear: both;
}

.item-link:hover,
.is-item-link-hover {
  color: #fff;
}

.user-link:hover,
.lang select:hover,
.is-lang-select-hover,
.is-user-link-hover {
  background: #14171a;
  color: #FFF;
}

.games-top:hover,
.is-games-top-hover,
.section-link:hover,
.is-section-link-hover {
  background: linear-gradient(to top, rgba(255, 0, 0, 0.2) 40%, rgba(0, 0, 0, 0.1) 100%);
  cursor: pointer;
}

.l-cf-wrapper .section-link:hover,
.is-cf-section-link-hover {
  background: linear-gradient(to top, rgba(255, 127, 0, 0.4) 30%, rgba(0, 0, 0, 0.1) 100%);
  cursor: pointer;
}

.btn:hover,
.is-btn-hover {
  opacity: 0.8;
}

.social-btn:hover,
.is-social-btn-hover {
  box-shadow: 0 3px 4px -2px #000;
}

.fb:hover,
.is-fb-hover {
background: #324a80;
}

.vk:hover,
.is-vk-hover {
  background: #41638a;
}

.tw:hover,
.is-tw-hover {
  background: #0098d4;
}

.gl:hover,
.is-gl-hover {
  background: #e60000;
}

.footer-item-link:hover,
.is-footer-item-link-hover {
  text-decoration: underline;
}

.des-link:hover,
.is-des-logo-hover {
  background-position: -192px -5px;

}

/*wf.html*/
.sorting-link:hover,
.is-sorting-link-hover {
  color: #fff;
}

.active-sort-item a:hover,
.is-active-sort-item-hover {
  color: #f00;
  pointer-events: none;
}

.read-more:hover,
.is-read-more-hover {
  color: #942527;
}

.l-cf-wrapper .read-more:hover,
.is-cf-read-more-hover {
  color: #ff7f00;
}

.page-link:hover,
.is-page-link-hover,
.page-link-dots:hover,
.is-page-link-dots-hover {
  background: #1e2326;
  color: #c3c4c5;
}

.page-link:active,
.is-page-link:active,
.page-link-dots:active,
.is-page-link-dots-active {
  background: #1e2326;
}

.tab-link:hover,
.is-tab-link-hover {
  color: #fff;
}

.forum-list-item-link:hover,
.is-forum-list-item-link-hover {
  color: #fff;
}

.download-btn:active,
.is-download-btn-active {
  box-shadow: inset 0px 10px 35px 5px #000;
  color: #ccc;
}

.m-menu-item-link:hover,
.is-m-menu-item-link-hover {
  background: #242424;
}
/*end wf.html*/



























/**/
